.mainWrapper { 
    max-width: 330px;
}
.titleWrapper{
display: flex;
justify-content: space-between;
align-items: baseline;
padding:0 10px 20px 10px;
gap: 20px;
}

.list {
    background-color: #fff;
}


@media screen and (max-width: 800px){
    .mainWrapper { 
        max-width: 100%;
       width: 100%;
    }
}
/* @media screen and (max-width: 800px){
    .mainWrapper { 
        max-width: 100%;
       /* width: 100%; */
    /* }
} */ 
