.App {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/


.filterButton{
  background-color: green;
}

.isDone {
  opacity: 0.5;
}

.buttonExitWrapper {
  padding: 0 10px 0 0;
  display: flex;
  justify-content: end;
}

.firstLoading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 30px;
  font-weight: bolder;
}

