/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*}*/








.firstLoading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 30px;
  font-weight: bolder;
}

